.Main
  .ContentsNew
    .ContentsNew__topWrapper
      = link_to root_path do
        = image_tag "logo.png", class: "TopIcon"
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            %h2.BuyInfo
              購入内容の確認
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .ContentInfo
              .ContentImage

                = image_tag(@content.images[0].content_image.url, class: "BuyContent")
              .ContentName
                = @content.name
              .Content__cost
                = "#{@content.postage}(税込)"
                %span
                  = number_to_currency(@content.price, unit: "円", strip_insignificant_zeros: true)
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .PriceInfo
              .PriceInfo__name
                支払い金額
              .PriceInfo__cost
                = number_to_currency(@content.price, unit: "円", strip_insignificant_zeros: true)
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .Payment
              .Payment__method
                支払い方法
              .Payment__registration
                %section.creditcard_section
                  - if @card_info.blank?
                    %i.fas.fa-plus-circle
                    %span.icon-register
                    = link_to "登録してください", new_card_path
                  - else
                    = "**** **** **** " + @card_info.last4
                    - exp_month = @card_info.exp_month.to_s
                    - exp_year = @card_info.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .BuyBtn
            = link_to "購入する", {controller: "cards", action: "pay", content_id: @content}, method: :post, class:"BuyButton"

    .ContentsNew__bottomWrapper
      = link_to root_path do
        = image_tag "logo.png", class: "BottomIcon"