.Main
  .ContentsNew
    .ContentsNew__topWrapper
      = link_to root_path do
        = image_tag "material/logo/logo.png", class: "TopIcon"
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            %h2.BuyInfo
              購入内容の確認
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .ContentInfo
              .ContentImage
                = image_tag(@content.images[0].content_image.url, class: "BuyContent")
              .ContentName
                = @content.name
              .Content__cost
                = "#{@content.postage}(税込)"
                %span
                  = number_to_currency(@content.price, unit: "円", strip_insignificant_zeros: true)
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .PriceInfo
              .PriceInfo__name
                支払い金額
              .PriceInfo__cost
                = number_to_currency(@content.price, unit: "円", strip_insignificant_zeros: true)
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .Payment
              .Payment__method
                支払い方法
              .Payment__registration
                = link_to "#", class: "PaymentRegistration" do
                  =icon("fas", "plus-circle") 
                  登録してください
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .Delivery
              .Delivery__method
                配送先
              .Delivery__registration
                = link_to "#", class: "DeliveryRegistration" do
                  =icon("fas", "plus-circle") 
                  登録してください
            .Error
        %hr/
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .BuyBtn
              %button{type: "button", class:'BuyButton'}
                購入する

    .ContentsNew__bottomWrapper
      = link_to root_path do
        = image_tag "material/logo/logo-white.png", class: "BottomIcon"