.Main
  .ContentsNew
    .ContentsNew__topWrapper
      = link_to root_path do
        = image_tag "material/logo/logo.png", class: "TopIcon"
    .ContentsNew__middleWrapper
      .ExhibitionForm
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .PhotosTop
              .PhotosTop__text
                %label
                  出品画像
                %span.Required
                  必須
            .PhotosMiddle
              %p.PhotosMiddle__text
                最大3枚までアップロードできます
            .PhotosBottom
              = icon("fas", "camera")
              %p
                ドラッグアンドドロップ
                %br/
                またはクリックしてファイルをアップロード
            .Error
        %hr/
        .ExhibitionForm__normal
          .ExhibitionForm__body
            .TitleTop
              .TitleTop__text
                %label
                  商品名
                %span.Required
                  必須
            .TitleBottom
              %input.FormBox{placeholder: "40文字まで"}
            .Error
          .ExhibitionForm__body.NotFirstChild
            .ExplanationTop
              .ExplanationTop__text
                %label
                  商品の説明
                %span.Required
                  必須
            .ExplanationBottom
              %textarea.TextArea{placeholder: explanation_placeholder}
            .ExplanationCounter
              0/1000
            .Error
        %hr/
        .ExhibitionForm__normal
          %p.FormTitle
            商品の詳細
          .ExhibitionForm__body.NotFirstChild
            .CategoryTop
              .CategoryTop__text
                %label
                  カテゴリー
                %span.Required
                  必須
            .CategoryBottom
              .FormBox
                選択してください
            .Error
          .ExhibitionForm__body.NotFirstChild
            .CategoryTop
              .CategoryTop__text
                %label
                  ブランド
                %span.Any
                  任意
            .CategoryBottom
              %input.FormBox{placeholder: "例）ジャーマン"}
          .ExhibitionForm__body.NotFirstChild
            .CategoryTop
              .CategoryTop__text
                %label
                  商品の状態
                %span.Required
                  必須
            .CategoryBottom
              .FormBox
                選択してください
            .Error
        %hr/
        .ExhibitionForm__normal
          %p.FormTitle
            配送について
          .ExhibitionForm__body.NotFirstChild
            .PostageTop
              .PostageTop__text
                %label
                  発送料の負担
                %span.Required
                  必須
            .PostageBottom
              .FormBox
                選択してください
            .Error
          .ExhibitionForm__body.NotFirstChild
            .ShippingAreaTop
              .ShippingAreaTop__text
                %label
                  発送元の地域
                %span.Required
                  必須
            .ShippingAreaBottom
              .FormBox
                選択してください
            .Error
          .ExhibitionForm__body.NotFirstChild
            .DaysUntilShippingTop
              .DaysUntilShippingTop__text
                %label
                  発送までの日数
                %span.Required
                  必須
            .DaysUntilShippingBottom
              .FormBox
                選択してください
            .Error
        %hr/
        .ExhibitionForm__normal
          %p.FormTitle
            価格（¥300〜9,999,999）
          .ExhibitionForm__body.PriceChild
            .PriceBody
              .PriceLeft
                .PriceTop__text
                  %label
                    販売価格
                  %span.Required
                    必須
              .PriceRight
                %h3
                  ¥
                %input.FormBox{placeholder: "0"}
            .Error
        .ExhibitionForm__exhibition
          .ExhibitionBtn
            出品する
          .Return
            もどる
        .ExhibitionForm__precautions
          %p.PrecautionsText
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。
    .ContentsNew__bottomWrapper
      = link_to root_path do
        = image_tag "material/logo/logo-white.png", class: "BottomIcon"