= render partial: "contents/header"
.Main
  .mypage_a
    %main.mypage-contents.clearfix
      .main-content
        %section.user
          .user-link
            %figure
              .user-link__iconn
                購入が完了しました
          .return-top
            = link_to root_path do
              トップへ戻る
      = render "users/show_side"
  = render partial: "contents/app_banner"
  = render partial: "contents/purchase_btn"
= render partial: "contents/footer"