= render "header"
.Main
  .ShowMain
    .ContentLeft
    .ContentRight
      .TopContent
        .ItemBox
          %h2.ItemBox__name
            = @content.name
          .ItemBox__body
            %ul
              %li
                .ItemBox__body--main
                  = image_tag(@content.images[0].content_image.url)
                  - if @content.buyer_id?
                    .SoldLabel
                      SOLD
                %ul
                  %li
                    - if @content.images[1].present?
                      .ItemBox__body--sub
                        = image_tag(@content.images[1].content_image.url)
                        - if @content.buyer_id?
                          .SoldLabel
                            SOLD
                  %li
                    - if @content.images[2].present?
                      .ItemBox__body--sub
                        = image_tag(@content.images[2].content_image.url)
                        - if @content.buyer_id?
                          .SoldLabel
                            SOLD
                  %li
                    - if @content.images[3].present?
                      .ItemBox__body--sub
                        = image_tag(@content.images[3].content_image.url)
                        - if @content.buyer_id?
                          .SoldLabel
                            SOLD
                  %li
                    - if @content.images[4].present?
                      .ItemBox__body--sub
                        = image_tag(@content.images[4].content_image.url)
                        - if @content.buyer_id?
                          .SoldLabel
                            SOLD
          .ItemBox__price
            %span
              = number_to_currency(@content.price, unit: "円", strip_insignificant_zeros: true)
          .ItemBox__priceDetail
            （税込）送料込み
          .ItemBox__detail
            = @content.explain
          .ItemBox__table
            %table
              %tr
                %th 出品者
                %td= @content.user.nickname

              %tr
                %th カテゴリー
                %td= @content.category.name
              %tr
                %th ブランド
                %td= @content.brand
              %tr
                %th 商品のサイズ
                %td= @content.size
              %tr
                %th 商品の状態
                %td= @content.status
              %tr
                %th 配送料の負担
                %td= @content.postage
              %tr
                %th 発送元の地域
                %td= @content.prefecture
              %tr
                %th 発送日の目安
                %td= @content.shipment
          .ItemBox__optionalArea
            %ul
              %li
                %button{type: "button", class:'btn'}
                  お気に入り 0
            %ul
              %li
              = link_to "#", class: "report" do
                不適切な商品の通報
          - if @content.buyer_id?
            .ItemBox__soldout
              .SoldOutBtn
                売り切れ
          - else
            - if user_signed_in? && current_user.id != @content.user_id
              .ItemBox__buy
                = link_to "購入する", buy_content_path(@content.id), method: :get, class:"BuyConfirmationBtn"
            - if user_signed_in? && current_user.id == @content.user_id
              .ItemBox__delete
                = link_to "削除する", content_path(@content.id), method: :delete, class:"deleteBtn"
        .CommentBox
          = form_with(id: "new_comment") do |f|
            = f.text_area :content, class: 'commentbody'
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.commentBtn{type: 'submit', name: 'button'}
            コメントする
      .Links
        = link_to '#',class: 'links__left' do
          < 前の商品
        = link_to '#',class: 'links__right' do
          後ろの商品 >
      .RelatedItems
        = link_to '#',class: 'RelatedItems__body' do
          ベビー・キッズをもっと見る
        .ContentLists
          .ContentList
            = link_to '#' do
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', alt: '', height: '150px', width: '100%', class: ''
              .ContentList__body
                %h3.name contents3
                .Details
                  %ul
                    %li 50000円
                    %li
                      = icon('fa', 'star')
                      0
                  %p (税込)
  = render "app_banner"
  = render "purchase_btn"
= render "footer"

