= render "contents/header"
.Main
  = form_with model: @address, local: true do |f|
    .Single_container
      %h2.Single_head 新規会員情報入力
      .Register_form
        - if @address.errors.any?
          .SettingAddressForm__errors
            %h2= "#{@address.errors.full_messages.count}件のエラーが発生しました。"
            %ul
              - @address.errors.full_messages.each do |message|
                %li= message
        .field
          = f.label :郵便番号
          %span.field__require
            必須
          %br/
          = f.text_field :postal_code, placeholder: '例）000-0000', class:"field__input"
        .field
          = f.label :都道府県
          %span.field__require
            必須
          %br/
          = f.collection_select :prefecture, JpPrefecture::Prefecture.all, :code, :name, {}, {class:"field__input"}
        .field
          = f.label :市町村
          %span.field__require
            必須
          %br/
          = f.text_field :city, placeholder: '例）〇〇市', class:"field__input"
        .field
          = f.label :番地
          %span.field__require
            必須
          %br/
          = f.text_field :address, placeholder: '例）〇〇1-1-1', class:"field__input"
        .field
          = f.label :建物名
          %span.field__optional
            任意
          %br/
          = f.text_field :apartment, placeholder: '例）フリマビル703', class:"field__input"
        .field
          = f.submit "登録する", class:"btn-default btn-blue"

  = render "contents/footer"