= render partial: "contents/header"
.Main
  .mypage_a  
    %main.mypage-contents.clearfix
      .Chapter
        .Chapter__title
          支払い方法
        .Chapter__inner
          .Chapter__inner__content
            クレジットカード一覧
          .Chapter__inner__add
            .Chapter__inner__add__btn
            = link_to "#", class: "card-btn" do
              クレジットカードを追加する
          .Chapter__inner__note
            = link_to "#", class: "inner-note" do
              支払い方法について ＞
      = render "show_side"
  = render partial: "contents/app_banner"
  = render partial: "contents/purchase_btn"
= render partial: "contents/footer"