= render partial: "contents/header"

.Main
  .ShowMypage
    .main-content
      %section.user
        .user-link
          %figure
            .user-link__iconn
              = image_tag "member_photo_noimage_thumb.png", class:"user-link__icon"
          %h2.user-link__name
          .user-link__number
            評価  0  出品数  0

      %section.transaction
        .transaction-history
          %ul.transaction-history-tabs
            .transaction-history-tabs_select
              やることリスト
            .transaction-history-tabs_li
              お知らせ
          %ul.transaction-history-content
            %li.tab-content-transaction__notfound
              現在、やることリストはありません

        .transaction-history
          %h2.transaction-history-header
            購入した商品
          %ul.transaction-history-tabs
            .transaction-history-tabs_select
              取引中
            .transaction-history-tabs_li
              過去の取引
          %ul.transaction-history-content
            %li.tab-content-transaction__notfound
              取引中の商品がありません

    = render partial: "users/show_side"  
  = render partial: "contents/app_banner"
  = render partial: "contents/purchase_btn"
= render partial: "contents/footer"
