= render partial: "contents/header"

.Main
  .ShowMypage
    .main-content
      %section.user
        .user-link
          %figure
            .user-link__iconn
              = image_tag "member_photo_noimage_thumb.png", class:"user-link__icon"
          %h2.user-link__name
          .user-link__number
            評価  0  出品数  0

      %section.transaction
        .transaction-history
          %ul.transaction-history-tabs
            .transaction-history-tabs_select
              やることリスト
            .transaction-history-tabs_li
              お知らせ
          %ul.transaction-history-content
            %li.tab-content-transaction__notfound
              現在、やることリストはありません

        .transaction-history
          %h2.transaction-history-header
            購入した商品
          %ul.transaction-history-tabs
            .transaction-history-tabs_select
              取引中
            .transaction-history-tabs_li
              過去の取引
          %ul.transaction-history-content
            %li.tab-content-transaction__notfound
              取引中の商品がありません

    .side-content
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li
            =link_to "/users/#{current_user.id}", class: "mypage-nav-list-item" do
              マイページ
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              お知らせ（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              やることリスト（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              いいね！一覧（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              出品する
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              出品した商品 - 出品中（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              出品した商品 - 取引中（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              出品した商品 - 売却済み（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              購入した商品 - 取引中（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              購入した商品 - 過去の取引（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              ニュース一覧（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              評価一覧（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              ガイド（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              お問い合わせ（未実装）
              %i.icon-arrow-right
        %h3.mypage-nav-head-merpay メルペイ
        %ul.mypage-nav-list-merpay
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              売上・振込申請（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              ポイント（未実装）
              %i.icon-arrow-right
        %h3.mypage-nav-head-setting 設定
        %ul.mypage-nav-list-setting
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              プロフィール（未実装）
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              発送元・お届け先住所変更（未実装）
              %i.icon-arrow-right
          %li
            =link_to cards_path, class: "mypage-nav-list-item" do
              支払い方法
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              メール/パスワード
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              本人情報
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-unimplemented" do
              電話番号の確認（未実装）
              %i.icon-arrow-right
          %li
            =link_to logout_user_path(current_user.id), class: "mypage-nav-list-item" do
              ログアウト
              %i.icon-arrow-right

  = render partial: "contents/app_banner"
  = render partial: "contents/purchase_btn"
= render partial: "contents/footer"
